<div class="container text-center" style="height: 100vh;" *ngIf="isLoading">
    <h4 style='font-weight: 600; margin-top: 35%'> Por favor espere ...</h4>
    <div class="spinner-border text-primary align-self-center" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<section class="py-5">
    <div class="container">
        <ngx-twitter-timeline 
            [source]="{sourceType: 'profile', screenName: 'JochyDev'}"
            (onLoad)="onLoad()">
        </ngx-twitter-timeline>
    </div>
</section>
<!-- <a class="twitter-timeline" href="https://twitter.com/JochyDev?ref_src=twsrc%5Etfw">Tweets by JochyDev</a>  -->

<app-footer/>