<section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
    <h2 class="heading">Bienvenidos a mi Blog</h2>
    <div class="intro">Compartiendo experiencias en el desarrollo de software: Consejos, trucos y anécdotas de un programador apasionado. Descubre cómo voy superado obstáculos y alcanzo mis metas como desarrollador. ¿Quieres aprender junto a mí? Suscríbete y no te pierdas ninguno de mis artículos</div>
    <app-subscription-form/>
    </div><!--//container-->
</section>


<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
    <div class="row justify-content-between">
        <div *ngFor="let post of getArticlesForCurrentPage()" class="item col-4 mb-5">
            <!-- <div class="row g-3 g-xl-0"> -->
            <div class="ratio ratio-16x9 overflow-hidden">
                <img class="object-fit-cover" style="height: auto;" src="assets/images/blog/blog-post-thumb-1.jpg" alt="image">
            </div>
            <div class="col mt-3">
                <h3 class="title mb-1"><a class="text-link" href="blog-post.html">{{post.title}}</a></h3>
                <!-- <div class="meta mb-1"><span class="date">Published 2 days ago</span><span class="time">5 min read</span><span class="comment"><a class="text-link" href="#">8 comments</a></span></div> -->
                <div class="meta mb-1">
                  <span class="category">{{post.category}}</span>
                  <!-- TODO: Hacer una directiva o un pipe que reciba una fecha y diga hace cuantos días se publicó -->
                  <span class="date">{{post.createdAt}}</span>
                </div>
                <div class="intro" [innerHTML]="post.sanitizedHtml"></div>
                <a class="text-link" [routerLink]="['/post', post.id]">Read more &rarr;</a>
            </div><!--//col-->
            <!--</div>//row-->
        </div><!--//item col-4-->

        <nav class="mt-5" *ngIf="totalPosts > postsPerPage">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="changePage(currentPage - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item" *ngFor="let page of getPageNumbers()">
              <a class="page-link" (click)="changePage(page)">{{page}}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === getTotalPages()">
              <a class="page-link" (click)="changePage(currentPage + 1)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        
    </div>
  </div>
</section>

<app-footer/>

  
     
  