<div class="single-form-max-width pt-3 mx-auto">
    <form [formGroup]="subcriptionForm" 
          (ngSubmit)="sendSubscription()"
          class="signup-form row g-2 g-lg-2 align-items-center">
            <div class="col-12 col-md-9">
                <label class="sr-only" for="semail">Your email</label>
                <input type="email" 
                       formControlName="email" 
                       class="form-control me-md-1 semail" 
                       placeholder="Enter email">
            </div>
            <div class="col-12 col-md-2">
                <button type="submit" 
                        class="btn btn-primary">
                        Subscribe
                </button>
            </div>
    </form>
</div>