/* You can add global styles to this file, and also import other style files */
.loading-shade-full {
    position: fixed;
    height: 100vh;
    // width: 100%;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.48) !important;
    z-index: 1024;
    display: flex;
    align-items: center;
    justify-content: center;
}